.letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: auto 10px;
}

.display-letter {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.display {
    height: 50px;
    text-align: center;
}
