.keyboard-letter{
    border: 0;
    border-radius: 50%;
    background-color: lightgray;
    color: black;
    margin-right: 9px;
    margin-bottom: 15px;
    font-weight: bold;
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.keyboard-letter[disabled]{
    cursor: not-allowed;
    color: gray;
}