.board{
    display: flex;
    flex-direction: column;
}
 .flex {
     display: flex;
     flex-wrap: wrap;
 }

 .dletter {
     margin: 10px;
     min-width: 30px;
 }

 .display,
 .keyboard{
     padding: 3px;
 }

 .display{
     margin-bottom: 5px;
 }