.board,
.display,
.word{
    display: flex;
}

.board{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.keyboard,
.display{
    width: 580px;
    padding: 0;
    margin: 0 auto;
}


.display{
    margin-bottom: 30px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.word{
    flex-direction: row;
    margin-right: 30px;
    flex-grow: 1;
    flex-basis: 30%;
}
